﻿@using WorkFlowApplication.Extensions;

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Procedure Designer</title>
    <link rel="icon"
          type="image/png"
          href="~/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
    <link href="~/css/simple-topbar.css" rel="stylesheet">
    <link href="~/css/jsWorkflow.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <script src="~/Scripts/jquery.js"></script>
    <link href="~/css/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- Custom CSS -->
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="~/Scripts/plugins/flot/jquery.flot.js"></script>
    <script src="~/Scripts/plugins/flot/jquery.flot.symbol.js"></script>
   
   
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <!-- Navigation -->
            <div class="row">
                <nav class="navbar navbar-fixed-top" role="navigation" style="background-color:#067">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button style="margin-left:2px;" id="btnToggle" type="button" class="navbar-toggle menu-toggler pull-right active" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink(" Business Process Designer", "Index", "Home", new { @class = "navbar-brand", @style = "color: #CACDCE;" })
                    </div>
                    <!-- Top Menu Items -->
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-right top-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                                <ul class="dropdown-menu message-dropdown">
                                    <li class="message-preview">
                                        <a href="#">
                                            <div class="media">
                                                <span class="pull-left">
                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                </span>
                                                <div class="media-body">
                                                    <h5 class="media-heading">
                                                        <strong>John Smith</strong>
                                                    </h5>
                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="message-preview">
                                        <a href="#">
                                            <div class="media">
                                                <span class="pull-left">
                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                </span>
                                                <div class="media-body">
                                                    <h5 class="media-heading">
                                                        <strong>John Smith</strong>
                                                    </h5>
                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="message-preview">
                                        <a href="#">
                                            <div class="media">
                                                <span class="pull-left">
                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                </span>
                                                <div class="media-body">
                                                    <h5 class="media-heading">
                                                        <strong>John Smith</strong>
                                                    </h5>
                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="message-footer">
                                        <a href="#">Read All New Messages</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                                <ul class="dropdown-menu alert-dropdown">
                                    <li>
                                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">View All</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @Html.LoggedInUser()<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li data-toggle="modal" data-target="#switchuserModal">
                                        <a href="#"><i class="fa fa-fw fa-user"></i>Switch User</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-gear"></i>Settings</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <div>
                <div class="col-md-2 col-xs-6">
                    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                    <div data-sidebar-hover="true" data-sidebar-scroll="true" data-sidebar="true" id="sidebar" class="collapse navbar-collapse navbar-ex1-collapse nav-background-color">
                        <ul class="nav navbar-nav side-nav">
                            <li class="active-nav">
                                <a href="#" id="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="#" id="createNew">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Create New Procedure
                                </a>
                            </li>
                            <li id="imagePalleteSideMenuItem">
                                <a href="#" data-target="#DraggableImages">
                                    <span class="glyphicon glyphicon-th"></span>
                                    Palettes
                                </a>
                                <div id="DraggableImages" >
                                 <div class="workflow create-state" id="start" data-nodetype="startpoint"><span class='Activityspantext'>Start</span></div>
                               
                                    <div class="workflow create-state_daimond" id="Decesion" data-nodetype="decision">
                                        <span class="spantext Daimondspantext">Decision</span>
                                    </div>
                                    
                                    <div class="workflow create-state_rectangle" id="Process" data-nodetype="task">
                                        <span class='Activityspantext'> Activity</span>
</div>
                                    <div class="workflow create-state-End" id="stop" data-nodetype="endpoint">
                                        <span class='Activityspantext'>Stop</span>
</div>
                                </div>
                            </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#my-workflow">
                                    <span class="glyphicon glyphicon-download"></span>
                                    My Procedure
                                </a>
                                <div id="my-workflow" class="collapse">
                                    <ul class="nav-child"></ul>
                                </div>
                            </li>
                            <li>

                                <a href="#" id="viewInvoices">
                                    <span class="glyphicon glyphicon-modal-window"></span>
                                    My Work List
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 col-xs-6">
                    <div id="dvContainer" class="padding-div">
                    </div>
                    <div id="dragContainer" class="hide">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" id="workflowActionList">
                                        <li id="workflowSaveActionListItem"><a href="#" id="btnInitiateSave">Save Procedure</a></li>
                                    </ul>
                                </div>
                                <div id="displayWorkflowName">
                                </div>
                            </div>
                                <div id="DroppableArea" class="fill dot-matrix panel-body">

                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Model Popup-->
    <div class="modal fade" id="switchuserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:400px">
            <form action="/Home/SetUser" method="post">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>

                        <h4 class="modal-title" id="myModalLabel">
                            Switch User
                        </h4>
                    </div>

                    <div class="modal-body">
                        <select name="userKey" class="form-control">
                            <option value="-1"></option>
                            @foreach (Cygrp.Workflow.Core.Model.Users user in @Html.GetUsers())
                            {
                                <option value=@user.UserId>@user.FullName</option>
                            }

                         </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>

                        <button type="submit" class="btn btn-primary">
                            Switch User
                        </button>
                    </div>
                 </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <div class="LoadingMessagemodal" hidden>
        <div class="center">
            <img alt="" src="~/images/ajax-loader.gif" />
        </div>
    </div>
    <!-- /.modal-dialog -->

            @RenderBody()


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
    <!-- jQuery -->
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jsPlumb-2.0.5-min.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/workflow.designer.ui.js"></script>
    <script src="~/Scripts/workflow.designer.js"></script>
    <!-- Core files -->
    <script src="~/Scripts/jquery.alerts.js" type="text/javascript"></script>
   

</body>

</html>
