﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dialog-7" hidden>
    Procedure name:
    <input type="text" id="txtfilename" maxlength="20" /><br /><br />
    <center>
        &nbsp;&nbsp;&nbsp;<input type="button" value="Save" id="btnSaveProcess" />
        &nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" id="btnCancel" />
    </center>
</div>
<ul class="custom-menu">
    <li data-action="first" id="Add">Edit Text</li>
    <li data-action="second" id="delete">Delete</li>
    <li data-action="third" id="Attribute">Properties</li>
</ul>
<div id="dvTemplateJT" class="modal modal-wide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" style="color: black;"></h4>
            </div>
            <div id="dvTemplateJTBody" class="modal-body">
                <table style="width:100%">
                    <tr>
                        <td align="center"><input type="text" id="txtLabel" width="550" height="20" title="Enter the Connection text" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-custom-grey" id="btnSave" data-dismiss="modal" aria-hidden="true">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="dvActivityAttribute" class="modal modal-wide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#067; color:white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white;">×</button>
                <h4 class="modal-title" style="color: white;"></h4>
            </div>
            <div id="dvTemplateJTBody" class="modal-body">
                <div class="form-group">
                    <span>Activity Id:</span>&nbsp;&nbsp;&nbsp;&nbsp;
                   <span id="prop-modal-Id"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>Name:</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span id="prop-modal-name"></span>
                   
                </div>
              
                <div class="form-group">
                    <span>Text:</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="prop-modal-status" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>Execution Type:</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="type" id="IsUserActivity" value="U" checked> User &nbsp;&nbsp;&nbsp;<input type="radio" name="type" id="IsSystemActivity" value="s"> System
                </div>
                <div class="form-group">
                    <span>Delay Activity:</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <input type="checkbox" id="prop-modal-delay" value="Delay" >&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="txtdelay" placeholder="Enter the Delay Value" class="form-control" hidden>
                   

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#067 !important; color:white !important;"> Custom Attributes</div>
                    <div class="panel-body">
                        <input type="text" name="nameattribute" id="attributename" placeholder="Enter the Attribute Name" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" name="attributevalue" id="attributevalue" placeholder="Enter the Attribute value" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" name="btncustomattribute" id="btnaddattribute" value="Add" /><br/><br />
                        <table width="100%" border="1" id="tblviewcustomattributes" class="table-bordered" hidden>
                            <tr style="background-color:#067 !important; color:white !important;"><td>Attribute Name</td><td>Attribute value</td><td>Delete</td></tr>
                        </table>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#067 !important; color:white !important;">Route Configuration</div>
                    <div class="panel-body">
                    <table style="width:100%" >
                        <tr>
                            <td style="width:40%">For Activity</td>
                            <td style="width:50%">Condition</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><select id="ddlKeys" style="width:90%" class="form-control"></select></td>
                            <td><input type="text" id="txtValue" style="width:98%" height="20" title="Enter the value" class="form-control" /></td>
                            <td align="center"><input type="button" value="Add" id="btnAddAttributes" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    <div class="table-responsive">
                        <table width="100%" id="tblCustomAttributes"  border="1">
                            <tr style="background-color:#067 !important; color:white !important;">
                                <td>Activity</td>
                                <td>Condition</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button class="btn btn-custom-grey" id="btnSaveAttributes" data-dismiss="modal" aria-hidden="true">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/Dashboard/Index/',
            type: 'GET',
            contentType: 'html',
            success: function (data) {
                $('#dvContainer').html('');
                $('#dvContainer').html(data);
                $("#dragContainer").addClass("hide");
                HidePalleteMenuItem();
            },
            error: function (ex) {
                jAlert('Error while loading dashboard', 'Error');
            }
        });

        $('ul.side-nav li a').click(function (e) {
            $('ul.side-nav li.active-nav').removeClass('active-nav');
            $(this).parent('li').addClass('active-nav');
        });
    });

    function HidePalleteMenuItem() {
        //$("#imagePalleteSideMenuItem").addClass("hide");
        $("#imagePalleteSideMenuItem").hide(400);
    };
</script>
    
