.w,.create-state { 	
	/*min-width: 150px;
	padding:16px;
	position:absolute;
	z-index:8;
  
	border:1px solid #2e6f9a;*/
	box-shadow: 2px 2px 5px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:18px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:9px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
	text-align: center;

    /*width: 60px; 
   height: 60px; 
   background: white; 
    -webkit-border-radius: 50px / 50px; 
   -moz-border-radius: 50px / 50px; 
   border-radius: 50px / 50px;
    margin: 10px auto;*/

    min-width: 80px; 
   min-height: 55px; 
   background: white; 
    -webkit-border-radius: 50px / 50px; 
   -moz-border-radius: 100px / 50px; 
   border-radius: 50px / 50px;
    margin: 10px auto;
}
.w,.create-state-End { 	
	/*min-width: 150px;
	padding:16px;
	position:absolute;
	z-index:8;
	border:1px solid #2e6f9a;*/
	box-shadow: 2px 2px 5px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:18px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:9px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
	text-align: center;

    /*width: 60px; 
   height: 60px; 
   background: white; 
    -webkit-border-radius: 50px / 50px; 
   -moz-border-radius: 50px / 50px; 
   border-radius: 50px / 50px;
    margin: 20px auto;*/
    min-width: 80px; 
   min-height: 55px; 
   background: white; 
    -webkit-border-radius: 50px / 50px; 
   -moz-border-radius: 100px / 50px; 
   border-radius: 50px / 50px;
    margin: 10px auto;
}
.w,.create-state_rectangle { 
     /*min-width: 150px;
	padding:16px;
	position:absolute;
	z-index:4;
	border:1px solid #2e6f9a;*/
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
	text-align: center;

   min-width: 60px;
   min-height: 60px;
   background: white; 
   margin: 10px auto;

}

.w,.create-state_daimond{
   /*min-width: 150px;
	padding:16px;
	position:absolute;
	z-index:4;*/
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:9px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
	text-align: center;

     min-width: 60px; 
   min-height: 60px; 
   background: white;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   /*-webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%; 
	margin: 60px 0 10px 310px;*/
}
/*.w:hover, .create-state_daimond:hover {
	background-color: #6699FF;
	color:white;
}
.w:hover, .create-state_rectangle:hover {
	background-color: #6699FF;
	color:white;
}*/

.create-state {
	/*min-width: auto;*/
	position: relative;
	display: inline-block;
	text-align: center;
	border:2px solid #2e6f9a;
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 11px;
	margin: 2px 25px 9px 10px;
    line-height:48px;


}
.create-state-End {
	/*min-width: auto;*/
	position: relative;
	display: inline-block;
	text-align: center;
	border:2px solid #2e6f9a;
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 11px;
	margin: 9px 9px 9px 30px;
     line-height:46px;
}
.create-state_daimond {
	/*min-width: auto;*/
	position: relative;
	display: inline-block;
	text-align: center;
	border:2px solid #2e6f9a;
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 11px;
	/*margin: 0 40px 40px 0;*/
    margin: 9px 9px 11px 12px;
     line-height:54px;
}
.create-state_rectangle {
	/*min-width: auto;*/
	position: relative;
	display: inline-block;
	text-align: center;
	border:2px solid #2e6f9a;
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 11px;
	/*margin: 0 40px 40px 0;*/
    margin: 8px 8px 13px 20px;
    line-height:51px;
}
.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#6699FF;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #bbb;
	cursor:pointer;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:#bbb;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

._jsPlumb_endpoint {
	z-index:3;

}

.dragHover { 
	border:2px solid #bbb; 
}

path { 
	cursor:pointer; 
}

/** Remove all the trasition labels **/
.aLabel {
	display: none;
}

/** Z-INDEX **/

._jsPlumb_connector { z-index:18 !important; }
._jsPlumb_endpoint { z-index:19 !important; }
._jsPlumb_overlay { z-index:20 !important; }
.spantext {

}
.spantext{
    text-align:-webkit-center;
    /*line-height:25px;*/
     display:-webkit-box;
        -webkit-transform: rotate(-315deg); 
        -moz-transform: rotate(-35deg);
        
}
.Daimondspantext {
    -webkit-transform:rotate(-315deg);
    -moz-transform: rotate(-35deg);
    margin-top:0px;
    position:static;
    display:inline-table;
    line-height:15px;
    text-align:center;
    word-wrap:break-word;
}
.Activityspantext {
    width:auto;
    height:auto;
    line-height:20px;
    display:inline-block;
    text-align:center;
    word-wrap:break-word;
}

/*.dropzone {
    height: 300px;
    width: 100px;
    border: 1px solid black;
}
.drag {
    clear: both;
    height: 50px;
    width: 80px;
    background-color: black;
    position: relative;
    cursor: pointer;
}
#topContainer, .dropzone {
    height: 50px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
}
.folder .drag {
    margin: 5px;
}
.container {
    border: 2px solid blue;
    margin: 10px;
}
.over {
    background-color: yellow;
}    
#container {
    width: 800px;
    height: 600px;
    overflow-y: scroll;
    border-color: red;
    position: relative;
}*/

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    margin-left: -42px;
}

.custom-menu li:hover {
    background-color: #DEF;
}
ul
{
list-style-type: none;
}

.workflow-link{

}
.workflow{
    text-indent:0px;
}
  .LoadingMessagemodal
        {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: lightgray;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
        }
        .center
        {
            z-index: 1000;
            margin: 300px auto;
            padding: 10px;
            width: 60px;
            background-color: White;
            border-radius: 10px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;
        }
        .center img
        {
            height: 40px;
            width: 40px;
        }


 .background-image {
    height:auto;
    left:0;
    min-height:100%;
    min-width:1024px;
    position:fixed;
    top:0;   
    width:100%;
    z-index: -1
}

.dot-matrix {
    background: url("../images/Visio4.png");
   
}

/* This is fancy. not important */

/*#content {
    z-index: 9999;
    position: relative;
    margin: auto;
    width: 60%
}

p {
    background: rgba(0, 0, 0, 0.3);
    color: tomato;
    font: normal normal bold 4.4em/1.1 helvetica, sans-serif;
}*/