/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #fff;    
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    /*#wrapper {
        padding-left: 225px;
    }*/

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #CACDCE;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #02434E;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #067;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav li a {
        width: 225px;  
        color: #CACDCE;      
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #02434E !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav li ul li {
    width: 166px;
}

.side-nav li ul li a {
    display: block;
    padding: 10px 15px 10px 0px;
    text-decoration: none;
    color: #CACDCE;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #CACDCE;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.nav-background-color {
    background-color: #067;
    padding-bottom: 1px;
}

#my-workflow > ul {
    padding-left: 0px;
}

#my-workflow > ul > li > a {
    padding-left: 40px;
}

.fill {
            height: 576px;
            background-color: #d3d3d3;
            overflow: auto;
            margin-top: 0px;
            margin-bottom: 0px;
            border: solid 2px gray;
        }

        .ui-widget-header {
            border: 1px solid #067;
            background: #067 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
            color: #ffffff;
            font-weight: bold;
        }

        .ui-resizable-handle {
            background-color: lightgray;
             width: 10px;
            height: 10px;
        }

.padding-div {
    padding-right: 10px;    
}

.grad-table {
    height: 40px;
    background: #ddd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ddd, #f8f8f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #f8f8f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #f8f8f8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #f8f8f8); /* Standard syntax (must be last) */
}

#btnToggle {
    background-color: #067;
    border: 1px solid #02434E;
}

#btnToggle > span {
    background-color: white;
}

#btnToggle:hover {
    background-color: #02434E;
}

.active-nav {
    background-color: #02434E;
}

.label {
    color: #FFF;
    display: inline-block;
}

.legendLabel {
    text-align: left;
}