/*#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}

#wrapper.toggled {
    padding-left: 250px;
}

#topbar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #067;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #topbar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    background: #067;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}*/

/* topbar Styles */

.topbar-nav {
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topbar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.topbar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    font-size: 15px;
    font-family: Helvetica;
}

/*.topbar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}*/

.topbar-nav li a:active,
.topbar-nav li a:focus {
    text-decoration: none;
}

.topbar-nav > .topbar-brand {
    height: 40px;
    font-size: 18px;
    line-height: 22px;
}

.topbar-nav > .topbar-brand a {
    color: #999999;
    padding: 10px 10px 10px 10px;
}

.topbar-nav > .topbar-brand a:hover {
    color: #fff;
    background: none;
}

.topbar-nav > .topbar-brand > .dropdown-menu {
    margin: 4px 0px 0px 0px;
}

.topbar-nav > .topbar-brand > .dropdown-menu li a {
    padding: 3px 0px;
    color: #999999;
    background: #fff;
}

.topbar-nav > .topbar-brand >  .dropdown-menu li a:hover {
    background: #f5f5f5;
}