/*
Tutorial Name: How to Create Different Shapes with CSS
Author: Samuel Dalusung
*/


/* GENERAL STYLES
-------------------------------------------------*/

body {
    /*font-family: 'Open Sans', sans-serif;
    background: #249ce0;
	width: 100%;
	font-weight: 700;*/
}

.container{
/*width: 50%; 
border: 1px solid #dbdbdb;
margin: 0 auto;
background: #f4f4f4;*/ 
}


.box-position{
 /*margin: 10px auto;   
 width: 150px; 
display: block;*/

}


/*#margin-heart{
margin-top: 150px;
}

#margin-hexagon{
margin-top: 35px;
}*/


h1{
/*font-family: 'Raleway', sans-serif;
text-align: center;
font-size: 28px;
margin: 20px auto 0 auto; 
color: #8e8e8e;*/
}


h2{ /*background: #1d84bf;
text-align: center;
font-size: 25px; 
padding: 10px 0; 
color: #fff;*/
 }
 
p{ 
/*font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 100;
padding: 20px;
margin: 0 auto;
text-align: center;
color: #8e8e8e;*/
}

.code{
/*width: 40%;
margin: 0 auto;
background: white; 
color: white;
font-size: 13px;
font-weight: 100;
padding: 20px 25px 8px 0;
margin-bottom: 30px;*/
}


/*footer, footer p{
color: #fff;
text-align: center;
background: #1d84bf;
}

a{ color: #b3e4ff;}*/


/* SHAPES
-------------------------------------------------*/

#circle { 
   width: 80px;
   height: 80px;
   background: white; 
   -moz-border-radius: 30px; 
   -webkit-border-radius: 60px; 
   border-radius: 60px;
   margin: 10px auto;

}




#square { 
   width: 120px;
   height: 120px;
   background: #f447ff; 
   margin: 10px auto;

}



#rectangle { 
   width: 220px;
   height: 120px;
   background: #4da1f7; 
   margin: 10px auto;

}


#oval { 
   width: 100px; 
   height: 70px; 
   background: white; 
    -webkit-border-radius: 100px / 50px; 
   -moz-border-radius: 100px / 50px; 
   border-radius: 100px / 50px;
    margin: 10px auto;

}

#triangle{
 width: 0; 
   height: 0;  
   border-bottom: 140px solid #fcf921; 
   border-left: 70px solid transparent; 
   border-right: 70px solid transparent; 
   margin: 10px auto;
}


#triangle_down{
width: 0; 
   height: 0;
   border-top: 140px solid #20a3bf;
   border-left: 70px solid transparent; 
   border-right: 70px solid transparent; 
	margin: 10px auto;
}


#triangle_left{
width: 0;
	height: 0;
	border-top: 70px solid transparent;
	border-right: 140px solid #6bbf20;
	border-bottom: 70px solid transparent;
	margin: 10px auto;
}


#triangle_right{
	width: 0;
	height: 0;
	border-top: 70px solid transparent;
	border-left: 140px solid #ff5a00;
	border-bottom: 70px solid transparent;
	margin: 10px auto;
}


#diamond{
	 width: 120px; 
   height: 120px; 
   background: #1eff00;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
	margin: 60px 0 10px 310px; 
	
}


#trapezium{
 height: 0; 
   width: 120px;
   border-bottom: 120px solid #ec3504;
   border-left: 60px solid transparent;
   border-right: 60px solid transparent;
   	margin: 10px auto; 
}

#parallelogram{
width: 160px;
	height: 100px;
	background: #8734f7;
	-webkit-transform: skew(30deg);
	   -moz-transform: skew(30deg);
	     -o-transform: skew(30deg);
	
   	margin: 10px auto; 
}







#star {
   margin: 50px 0;
   position: relative;
   display: block;
   color: #fc2e5a;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #fc2e5a;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}

#star:before {
   border-bottom: 80px solid #fc2e5a;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
   
}
#star:after {
   position: absolute;
   display: block;
   color: #fc2e5a;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid #fc2e5a;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';

   }





#star_six_points{
   width: 0; 
   height: 0; 
    position: absolute;
   border-left: 50px solid transparent; 
   border-right: 50px solid transparent; 
   border-bottom: 100px solid #de34f7;
   	margin: 10px auto; 
	display: block;
}

#star_six_points:after{
  content:"";

   width: 0;
   height: 0; 
      position: absolute;
   border-left: 50px solid transparent; 
   border-right: 50px solid transparent; 
   border-top: 100px solid #de34f7;
   margin: 30px 0 0 -50px;
}


#pentagon { 
   width: 54px; 
   position: relative;
   border-width: 50px 18px 0; 
   border-style: solid; 
   border-color: #277bab transparent;
   margin: 10px auto;
}

#pentagon:before { 
   content: ""; 
   position: absolute; 
   height: 0; 
   width: 0; 
   top: -85px; 
   left: -18px; 
   border-width: 0 45px 35px; 
   border-style: solid; 
   border-color: transparent transparent #277bab;
}


#hexagon {
 width: 100px;
 height: 55px;
 background: #fc5e5e;
 position: relative;
 margin: 10px auto;
}
#hexagon:before {
 content: "";
 position: absolute;
 top: -25px;
 left: 0;
 width: 0;
 height: 0;
 border-left: 50px solid transparent;
 border-right: 50px solid transparent;
 border-bottom: 25px solid #fc5e5e;
 
}
#hexagon:after {
 content: "";
 position: absolute;
 bottom: -25px; left: 0;
 width: 0;
 height: 0;
 border-left: 50px solid transparent;
 border-right: 50px solid transparent;
 border-top: 25px solid #fc5e5e;
}


#octagon {
 width: 100px;
 height: 100px;
 background: #ac60ec;
 position: relative;
 margin: 10px auto;
}
#octagon:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 border-bottom: 29px solid #ac60ec;
 border-left: 29px solid #f4f4f4;
 border-right: 29px solid #f4f4f4;
 width: 42px;
 height: 0;
}
#octagon:after {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 border-top: 29px solid #ac60ec;
 border-left: 29px solid #f4f4f4;
 border-right: 29px solid #f4f4f4;
 width: 42px;
 height: 0;
}


#heart { 
	position: relative;
}
#heart:before, #heart:after {
	
  content: "";
	left: 70px; top: 0;
	width: 70px;
	height: 115px;
	position: absolute;
	background: #ff0000;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
	margin: 10px auto;
}
#heart:after { 
	left: 0; 
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
	margin: 10px auto;
}


#egg {
  
   width: 136px;
   height: 190px;
   background: #ffc000;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
	display:block;
   margin: 10px auto;
   }


#infinity {
    position: relative;
    width: 220px;
    height: 100px;
	margin: 10px auto;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;    
    border: 20px solid #06c999;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform:rotate(45deg);
       -moz-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
         -o-transform:rotate(45deg);
            transform:rotate(45deg);
}



#comment_bubble {
   width: 140px;
   height: 100px;
   background: #088cb7;
   position: relative;
   -moz-border-radius:    12px;
   -webkit-border-radius: 12px;
   border-radius:         12px;
   margin: 10px auto;
}
#comment_bubble:before {
   content:"";
   width: 0;
   height: 0;
   right: 100%;
   top: 38px;
    position: absolute;
   border-top: 13px solid transparent;
   border-right: 26px solid #088cb7;
   border-bottom: 13px solid transparent;
}


#pacman {
  width: 0px;
  height: 0px;
  border-right: 70px solid transparent;
  border-top: 70px solid #ffde00;
  border-left: 70px solid #ffde00;
  border-bottom: 70px solid #ffde00;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  margin: 10px auto;
}


