﻿@model WorkFlowApplication.Models.WorkflowServiceViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}

<div>
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-md-9 text-right">
                        <div class="counter huge">@Model.NoOfRunningWorkflowInstance</div>
                        <div>Running Workflows</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left" id="ViewinstanceActivityDetails">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-md-9 text-right">
                        <div class="huge">@Model.InvoiceCompleted</div>
                        <div>Workflow Completed</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-md-9 text-right">
                        <div class="huge">@Model.InvoicePending</div>
                        <div>Invoices pending</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-md-9 text-right">
                        <div class="huge">@Model.InvoiceRaised</div>
                        <div>Invoices Raised</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="user-average-time-link" class="pull-right">
                    <a href="#" >more..</a>
                </div>
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Average time taken by a user</h3>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btn-usr">
                    Filter by All Users
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" id="usr-All">All Users</a></li>
                    @foreach (Cygrp.Workflow.Core.Model.Users user in Html.GetUsers())
                    {
                        <li><a href="#" id="usr-@user.UserId">@user.FullName</a></li>
                    }
                </ul>
            </div>
            <div class="center" id="loader-usr" hidden>
                <img alt="" src="~/images/ajax-loader.gif" />
            </div>
            <div class="panel-body" style="width:98%;height:400px;text-align:center;margin-right:10px;margin-top:25px;">
                <div id="flot-User" style="width:100%;height:100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="activity-average-time-link" class="pull-right">
                    <a href="#" >more..</a>
                </div>
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Average time taken at each activity</h3>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btn-act">
                    Filter by All Activities
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" id="act-All">All Activities</a></li>
                    @foreach (var activity in ViewBag.Activities)
                    {
                        <li><a href="#" id="act-@activity.Id">@activity.Text</a></li>
                    }
                </ul>
            </div>
            <div class="center" id="loader-act" hidden>
                <img alt="" src="~/images/ajax-loader.gif" />
            </div>
            <div class="panel-body" style="width:98%;height:400px;text-align:center;margin-right:10px;margin-top:25px;">
                <div id="flot-Activity" style="width:100%;height:100%;"></div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading grad-table">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Work flow service instance tracking</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id #</th>
                            <th>Instance Type</th>
                            <th>State</th>
                            <th>Event Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var instance in Model.InvoiceWorkflowInstances)
                        {
                            <tr>
                                <td><a class="invoicetrackitem" id="@instance.WorkflowInstanceId" href="#">...@instance.WorkflowInstanceId.ToString().Substring(((instance.WorkflowInstanceId.ToString()).Length - 5), 5)</a></td>
                                <td>Invoice Approval</td>
                                <td>@instance.State</td>
                                <td>@instance.EventDate.ToString("MM/dd/yyyy HH:mm")</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading grad-table">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Invoice activity tracking</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Invoice #</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model.InvoiceRequests)
                        {
                            <tr>
                                <td><a class="invoicetrackitem" id="@request.WorkflowInstanceId" href="#">@request.InvoiceNumber</a></td>
                                <td class="text-right">$@request.Amount.ToString("0.00")</td>
                                <td>@request.ReferenceFileId</td>
                                <td>@request.DueDate.ToString("MM/dd/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    //=============================== Flot chart ===================================//

    var previousPoint = null, previousLabel = null;

    $('div[id^="flot-"]').bind("plothover", function (event, pos, item) {
        if (item) {
            if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                previousPoint = item.dataIndex;
                previousLabel = item.series.label;
                $("#tooltip").remove();

                var x = item.datapoint[0];
                var y = item.datapoint[1];

                var color = item.series.color;

                showTooltip(item.pageX,
                item.pageY,
                color,
                "<strong>" + secondsTimeSpanToTimeFormat(y) + "</strong>");
            }
        } else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });

    function secondsTimeSpanToHMS(s) {
        var h = Math.floor(s / 3600); //Get whole hours
        s -= h * 3600;
        var m = Math.floor(s / 60); //Get remaining minutes
        s -= m * 60;
        return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
    }

    function secondsTimeSpanToTimeFormat(s) {
        var h = Math.floor(s / 3600); //Get whole hours
        s -= h * 3600;

        var m = Math.floor(s / 60); //Get remaining minutes
        m = (m < 10 ? '0' + m : m);

        s -= m * 60;
        s = (s < 10 ? '0' + s : s);

        var d = Math.floor(h / 24);
        h = h - (24 * d);

        var result = (d > 0 ? 'Day: ' + d + '</br>' : '');
        result = result + (h > 0 ? ' Hour: ' + h + '</br>' : '');
        result = result + (m > 0 ? ' Min: ' + m + '</br>' : '');
        result = result + (s > 0 ? ' Seconds: ' + s + '</br>' : '');

        return result;
        //return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s);  //zero padding on minutes and seconds
    }

    function showTooltip(x, y, color, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y - 40,
            left: x - 20,
            border: '2px solid ' + color,
            padding: '3px',
            'font-size': '9px',
            'border-radius': '5px',
            'background-color': '#fff',
            'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            opacity: 0.9
        }).appendTo("body").fadeIn(200);
    }

    //================================================= End chart ================================//

    $(document).ready(function () {
        var loadDetails = function () {

            jsPlumb.empty("DroppableArea");
            $.ajax({
                url: '/Dashboard/InstanceActivity/',
                type: 'GET',
                contentType: 'html',
                success: function (data) {

                    $("#dragContainer").addClass("hide");
                    HidePalleteMenuItem();
                    jsPlumb.repaintEverything();
                    $('#dvContainer').html('');
                    $('#dvContainer').html(data);

                },
                error: function (ex) {
                    jAlert('Error', 'error');

                }
            });
        }

        var LoadInstanceDetails = function () {
            var instanceId = this.id;
            jsPlumb.empty("DroppableArea");
            $.ajax({
                url: '/Dashboard/InstanceDetail/' + instanceId,
                type: 'GET',
                contentType: 'html',
                success: function (data) {
                    $("#dragContainer").addClass("hide");
                    HidePalleteMenuItem();
                    jsPlumb.repaintEverything();
                    $('#dvContainer').html('');
                    $('#dvContainer').html(data);
                },
                error: function (ex) {
                    jAlert('Error', 'error');

                }
            });
        }

        $('#ViewinstanceActivityDetails').click(loadDetails);

        $('.invoicetrackitem').click(LoadInstanceDetails);

        var HidePalleteMenuItem = function () {
            //$("#imagePalleteSideMenuItem").addClass("hide");
            $("#imagePalleteSideMenuItem").hide(400);
        };

        BindAverageUserChart('null');
        BindAverageActivityChart('null');

        $('.dropdown-menu a').click(function () {
            var Id = this.id;
            var ddlText = 'Filter by ' + $('#' + Id).html();
            var startBtn = Id.split('-')[0];
            $('#btn-' + startBtn).html(ddlText + ' <span class="caret"></span>');
            if (startBtn == 'usr')
                BindAverageUserChart(Id.split('-')[1]);
            else
                BindAverageActivityChart($('#' + Id).html());
        });

    });

    function BindAverageUserChart(userId) {
        $("#loader-usr").show();
        var url = userId === 'null' ? '/Dashboard/GetAverageTimeTakenByUsers?ForAll=true' : '/Dashboard/GetAverageTimeTakenByUsers?UserId=' + userId;
        $.ajax({
            url: encodeURI(url),
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                $("#loader-usr").hide();
                $('#flot-User').empty();
                var dataUser = [];
                var ticksUser = [];
                $.each(data, function (index, jsonObj) {
                    if (index == 'activity')
                    {
                        $.each(jsonObj, function (key, value) {
                            ticksUser.push([key, value]);
                        });
                    }
                    else if (index == 'timeTaken')
                    {
                        $.each(jsonObj, function (key, value) {
                            dataUser.push([key, value]);
                        });
                    }
                });

                var datasetUser = [
                    {
                        label: "Average time taken by a user (in Hour:Minute:Seconds)",
                        data: dataUser,
                        color: "#5482FF"
                    }
                ];

                var optionsUser = {
                    series: {
                        bars: {
                            show: true
                        }
                    },
                    bars: {
                        align: "center",
                        barWidth: 0.10
                    },
                    xaxis: {
                        ticks: ticksUser
                    },
                    yaxis: {
                        tickFormatter: function (v, axis) {
                            return secondsTimeSpanToHMS(v);
                        }
                    },
                    legend: {
                        noColumns: 0,
                        position: "nw"
                    },
                    grid: {
                        hoverable: true,
                        borderWidth: 0
                    }
                };

                $.plot($("#flot-User"), datasetUser, optionsUser);

            },
            error: function (ex) {
                jAlert('Error', 'error');

            }
        });
    }

    function BindAverageActivityChart(actId) {
        $("#loader-act").show();
        var url = (actId == 'null' || actId == 'All Activities') ? '/Dashboard/GetAverageTimeTakenOnActivity?ForAll=true' : '/Dashboard/GetAverageTimeTakenOnActivity?ActivityId=' + actId;
        $.ajax({
            url: encodeURI(url),
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                $("#loader-act").hide();
                $('#flot-Activity').empty();
                var dataActivity = [];
                var ticksActivity = [];
                $.each(data, function (index, jsonObj) {
                    if (index == 'users') {
                        $.each(jsonObj, function (key, value) {
                            ticksActivity.push([key, value]);
                        });
                    }
                    else if (index == 'timeTaken') {
                        $.each(jsonObj, function (key, value) {
                            dataActivity.push([key, value]);
                        });
                    }
                });

                var datasetActivity = [
                    {
                        label: "Average time taken on activity (in Hour:Minute:Seconds)",
                        data: dataActivity,
                        color: "#5482FF"
                    }
                ];

                var optionsActivity = {
                    series: {
                        bars: {
                            show: true
                        }
                    },
                    bars: {
                        align: "center",
                        barWidth: 0.10
                    },
                    xaxis: {
                        ticks: ticksActivity
                    },
                    yaxis: {
                        tickFormatter: function (v, axis) {
                            return secondsTimeSpanToHMS(v);
                        }
                    },
                    legend: {
                        noColumns: 0,
                        position: "nw"
                    },
                    grid: {
                        hoverable: true,
                        borderWidth: 0
                    }
                };

                $.plot($("#flot-Activity"), datasetActivity, optionsActivity);

            },
            error: function (ex) {
                jAlert('Error', 'error');

            }
        });
    }

</script>

