﻿@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Instance Detail
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <a href="/../../"> Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-table"></i> Instance Detail
            </li>
        </ol>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Time taken at each activity</h3>
    </div>
    @if (ViewBag.AverageInstanceDetails != null)
    {
    <div class="panel-body" style="width:98%;height:300px;text-align:center;margin-right:10px;">
        <div id="flot-placeholder" style="width:100%;height:100%;"></div>
    </div>
    }
    else
    {
    <div class="panel-body" style="width:98%;height:300px;text-align:left;margin-right:10px;">
        No Data Available!!!
    </div>
    }
</div>
</br>
    @if (ViewBag.InstanceDetails != null)
    {
        <div id="invoicetrack" class="panel panel-default">            
                <div class="panel-heading grad-table">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Invoice activity tracking</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Instance Id</th>
                                @*<th>Invoice #</th>
                                <th>Amount</th>*@
                                <th>Activity Name</th>
                                @*<th>Created By</th>*@
                                <th>Assigned To</th>
                                <th>Assigned On</th>
                                <th>Completed On</th>
                                @*<th>Client Name</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int j = 1;
                                foreach (var request in ViewBag.InstanceDetails)
                                {

                        <tr>
                            <td>@Convert.ToInt64(j++)</td>
                            <td>@request.InstanceId</td>
                            @*<td>@request.InvoiceNumber</td>
                            <td class="text-right">$@request.Amount.ToString("0.00")</td>*@
                            <td>@request.AcitivityName</td>
                            @*<td>@request.CreatedBy</td>*@
                            <td>@request.Assigneduser</td>
                            <td>@request.AssignedOn</td>
                            <td>@request.CompletedDate</td>
                            @*<td>@request.ClientName</td>*@

                        </tr>
                            }
                            }

                        </tbody>
                    </table>
                </div>
        </div>
                                }

<script>
    var a1 = [];
    var a2 = [];
    var ticks = [];
    var i = 1;
    var j = 1;
</script>

@foreach (var request in ViewBag.InstanceDetails)
{
    <script>
        a2.push([i + 0.1, '@request.CompletedTime']);
        ticks.push([i, '@request.AcitivityName']);
        i++;
    </script>
}

@foreach (var item in ViewBag.AverageInstanceDetails)
{
    <script>
        a1.push([j - 0.1, '@item.Value']);
        j++;
    </script>
}
    <script type="text/javascript">
        var dataset = [
            {
                label: "Average time taken",
                data: a1
            },
            {
                label: "Time taken",
                data: a2,
                color: "#5482FF"
            }
        ];

        var options = {
            series: {
                bars: {
                    show: true,
                    order: 1
                }
            },
            bars: {
                barWidth: 0.20
            },
            xaxis: {
                ticks: ticks
            },
            yaxis: {
                tickFormatter: function (v, axis) {
                    return secondsTimeSpanToHMS(v);
                }
            },
            legend: {
                noColumns: 1,
                position: "nw"
            },
            grid: {
                hoverable: true,
                borderWidth: 0
            }
        };

        function secondsTimeSpanToHMS(s) {
            var h = Math.floor(s / 3600); //Get whole hours
            s -= h * 3600;
            var m = Math.floor(s / 60); //Get remaining minutes
            s -= m * 60;
            return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
        }

        $(document).ready(function () {
            $.plot($("#flot-placeholder"), dataset, options);
        });

        var previousPoint = null, previousLabel = null;

        $('#flot-placeholder').bind("plothover", function (event, pos, item) {
            if (item) {
                if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                    previousPoint = item.dataIndex;
                    previousLabel = item.series.label;
                    $("#tooltip").remove();

                    var x = item.datapoint[0];
                    var y = item.datapoint[1];

                    var color = item.series.color;

                    //console.log(item.series.xaxis.ticks[x].label);
                    //alert(x + ' : ' + y);
                    showTooltip(item.pageX,
                    item.pageY,
                    color,
                    "<strong>" + secondsTimeSpanToHMS(y) + "</strong> Hr");
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });

        function showTooltip(x, y, color, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y - 40,
                left: x - 20,
                border: '2px solid ' + color,
                padding: '3px',
                'font-size': '9px',
                'border-radius': '5px',
                'background-color': '#fff',
                'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                opacity: 0.9
            }).appendTo("body").fadeIn(200);
        }
    </script>
