﻿@model WorkFlowApplication.Models.WorkflowServiceViewModel
@{
    ViewBag.Title = "InstanceActivity";
    Layout = null;
}


<div>
    <div class="col-lg-12">
        <h1 class="page-header">
            Instance Activity
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <a href="/../../"> Dashboard</a>/Instance Activity
            </li>
        </ol>
    </div>
</div>
<div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading grad-table">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Work flow Instance Activity</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id #</th>
                            <th>Instance Id</th>
                            <th>Process Name</th>
                            <th>Process Reference Id</th>
                            <th>Event Date</th>
                            <th>Last State</th>
                            @*<th>Last Process state</th>*@
                         </tr>
                    </thead>
                    <tbody>
                        @if (Model._instanceActivityList.Count()>0)
                           {
                             int i = 1;

                            foreach (var InstanceActivityList in Model._instanceActivityList)
                            {

                                    <tr>
                                        <td>@Convert.ToInt64(i++)</td>
                                        <td>@InstanceActivityList.InstanceId</td>
                                        <td>@InstanceActivityList.ProcessName</td>
                                        <td>@InstanceActivityList.ProcessReferenceId</td>
                                        <td>@InstanceActivityList.EvntDate.ToString("MM/dd/yyyy HH:mm")</td>
                                        <td>@InstanceActivityList.LastState</td>
                                        @*<td>@InstanceActivityList.LastProcessState</td>*@
                                    </tr>
                            }
                           }
                        else
                        {
                            <tr>
                                <td colspan="11" align="center" style="color:red;">Nothing found to display</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
   

</div>
<br/>
@if (Model._invoiceactivitytrackingList.Count() > 0)
{ 
<div id="invoicetrack" class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading grad-table">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Invoice activity tracking</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>InstanceId</th>
                        <th>InvoiceNumber</th>
                        <th>Amount</th>
                        <th>ActivityName</th>
                        <th>CreatedBy</th>
                        <th>AssignedUser</th>
                        <th>ClientName</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model._invoiceactivitytrackingList.Count()>0)
                    {
                        int j = 1;
                        foreach (var request in Model._invoiceactivitytrackingList)
                        {
                       
                            <tr>
                                <td>@Convert.ToInt64(j++)</td>
                                <td>@request.InstanceId</td>
                                <td>@request.InvoiceNumber</td>
                                <td class="text-right">$ @request.Amount.ToString("0.00")</td>
                                <td>@request.AcitivityName</td>
                                <td>@request.CreatedBy</td>
                                <td>@request.Assigneduser</td>
                                <td>@request.ClientName</td>
                            
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="11" align="center" style="color:red;">Nothing found to display</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
        </div>

    </div>
</div>
}