﻿@model IEnumerable<Cygrp.Workflow.Core.Model.Users>
@{
    ViewBag.Title = "NewInvoice";
    Layout =null;
}
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:-6px;">
                <h1 class="page-header">
                    Create New Invoice
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/../../"> Dashboard</a>
                    </li>
                    <li class="active">
                        <span class="glyphicon glyphicon-plus-sign"></span> New Invoice
                    </li>
                </ol>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top:-7px;">

            <div class="panel-body">

                <div class="row">
                    <div class="row" style="margin-left:60px;">
                        <form role="form" action="/Invoice/NewInvoice" method="post" id="invoiceform">
                            <div class="form-group" style="width:50%">
                                <label for="inputName" class="control-label">Invoice Number</label>
                                <input class="form-control" placeholder="Enter Invoice number" name="InvoiceNumber" required>

                            </div>
                            <div class="form-group" style="width:50%">
                                <label>Invoice description</label>
                                <textarea class="form-control" rows="3" name="Description" placeholder="Enter Invoice  Description"></textarea>
                            </div>
                            <div class="form-group" style="width:32%">
                                <label for="inputName" class="control-label">Invoice Amount</label>
                                <input name="Amount" class="form-control" placeholder="Enter Invoice  Amount" required>
                            </div>
                            <div class="form-group" style="width:50%">
                                <label>Client</label>
                                <select name="ReferenceClientId" class="form-control">
                                    <option>--Select One--</option>
                                    <option value="1">Chase</option>
                                    <option value="2">Wells Fargo</option>
                                    <option value="3">Bank Of America</option>
                                    <option value="4">Federal Bank</option>
                                    <option value="5">Another Bank</option>
                                </select>
                            </div>
                            <div class="form-group" style="width:50%">
                                <label>Assign Users</label>
                                <select name="AssignedUserId" class="form-control">
                                    <option>--Select One--</option>
                                    @{
                                        foreach (var user in Model)
                                        {
                                            <option value="@user.UserId">@user.FullName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="row" style="margin-left:390px;">

                                <button type="submit" class="btn btn-primary">Create</button>&nbsp;&nbsp;
                                <button type="reset" class="btn btn-primary">Reset</button>
                            </div>


                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


