﻿@model IEnumerable<WorkFlowApplication.ViewModel.AssignedRequestViewModel>

@{
    ViewBag.Title = "ViewInvoices";
    Layout = null;
}
<div>

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:-6px;">
                <h1 class="page-header">
                    Request Pending For My Action
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/../../"> Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> Pending for Action
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-lg-6" style="margin-left:-6px;width:1100px;">
                <h3>Requests Assigned to Me</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" width="100%" id="Tblviewinvoices">

                        <tr class="grad-table">
                            <th>#</th>
                            <th>Request Id</th>
                            <th>Request Type</th>
                            <th>Description</th>
                            <th>Activity</th>
                            <th>Due Date</th>
                            <th>Raised By</th>
                            <th>Details</th>
                            <th>Action</th>
                        </tr>

                        @if (Model.Count() > 0)
                        {
                            int i = 1;

                            foreach (var request in Model)
                            {
                                <tr>
                                    <td>
                                        @Convert.ToInt64(i++)
                                    </td>
                                    <td>
                                        @request.RequestId.ToString().Substring(0, 6)
                                    </td>
                                    <td class="ActivityType">
                                        @request.RequestType
                                    </td>
                                    <td>
                                        @request.RequestDetails
                                    </td>
                                    <td>
                                        @request.RequestedAction
                                    </td>
                                    <td>
                                        @request.DueDate.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @request.AssignedBy
                                    </td>
                                    <td>
                                        <a class="wf-request-view" href="#">View</a>
                                    </td>

                                    @*<td class="hidden-480">
                                            @if (InvoiceItems.Indicator == 1)
                                            {
                                            <span class="label label-sm label-success">Valid</span>
                                            }
                                            else if (InvoiceItems.Indicator == 2)
                                            {
                                            <span class="label label-sm label-warning">Expired</span>
                                            }
                                            else if (InvoiceItems.Indicator == 3)
                                            {
                                            <span class="label label-sm label-danger">Escalated</span>
                                            }
                                        </td>*@
                                    <td>
                                        <a href="#" class="IsApproved btn btn-xs btn-success" id="@request.RequestProcessReferenceId" data-toggle="tooltip" title="Approve/ Complete">
                                            <i class="fa fa-check bigger-120"></i>
                                        </a>
                                        <a href="#" class="IsDeleted btn btn-xs btn-danger" id="@request.RequestProcessReferenceId" data-toggle="tooltip" title="Cancel">
                                            <i class="fa fa-times bigger-120"></i>
                                        </a>
                                        <a href="#" class="IsReassign btn btn-xs btn-info" id="@request.RequestProcessReferenceId" data-toggle="tooltip" title="Reassign">
                                            <i class="fa fa-user bigger-120"></i>
                                        </a>
                                        <a href="#" class="IsRescheduled btn btn-xs btn-warning" id="@request.RequestProcessReferenceId" data-toggle="tooltip" title="Reschedule">
                                            <i class="fa fa-calendar bigger-120"></i>
                                        </a>
                                    </td>
                                </tr>
                            }


                        }
                        else
                        {
                            <tr>
                                <td colspan="11" align="center" style="color:red;">Nothing found to display</td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Followup For Payment</h4>
            </div>
            <div class="modal-body">
                <label id="lblActivity">Response from Client</label>
                <select name="FollowupForPayment" id="ddlFollowupForPayment" class="form-control">
                    <option value="approved">Payment Executed</option>
                    <option value="invalid">Write Off Balance</option>
                    <option value="query">Query from client</option>
                </select><br /><br />
                <label>Assigned To:</label>
                <select name="AssignedTo" id="ddlAssignedTo" class="form-control">
                    <option value="0">--Select One--</option>
                    @{
                        foreach (var user in ViewBag._listUsers)
                        {
                            <option value="@user.UserId">@user.FullName</option>
                        }
                    }
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="FollowupForPaymentId">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="RequestViewModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">No view configured for this request type.</h4>
            </div>
         </div>
    </div>
</div>

            <script type="text/javascript">
                var CurrentInvoiceId = "";
                var ActivityName = '@System.Configuration.ConfigurationManager.AppSettings["ActivityName"]';
                var RequestType = "";
                $(document).ready(function () {

                    $(".IsApproved").on('click', function () {
                        CurrentInvoiceId = this.id;
                        var tr = $(this).closest("tr");
                        var rowindex = tr.index();
                        var MyRows = $('table#Tblviewinvoices').find('tr');
                        for (var i = 0; i < MyRows.length; i++) {
                            if (i == rowindex) {
                                var MyIndexValue = $(MyRows[i]).find('td:eq(3)').html();
                                RequestType = MyIndexValue.trim();
                                //alert("RequestType"+RequestType);
                                console.log(MyIndexValue);
                                if (MyIndexValue.trim().toLowerCase() == "Followup For Payment".toLocaleLowerCase()) {
                                    $("#myModal").modal('show');
                                    RequestType = "";
                                    return false;
                                }
                                else {
                                    $(".modal-title").text("Assigned to User");
                                    $("#ddlFollowupForPayment").hide();
                                    $("#lblActivity").hide();
                                    $("#ddlFollowupForPayment option:selected").val(null);
                                    $("#myModal").modal('show');
                                    return false;
                                }
                            }
                        }

                        $.ajax({
                            type: 'POST',
                            url: '/Invoice/IsApproved/',
                            data: { InvoiceId: CurrentInvoiceId },
                            success: function (result) {

                                LoadViewInvoice();

                            }
                        });

                    });

                    $("#FollowupForPaymentId").on('click', function () {


                        if ($("#ddlAssignedTo").val() == '0') {
                            jAlert('Please select at least one Assigned To users!', 'Alert Dialog');
                            return false;
                        }
                        $("#myModal").modal('hide');
                        $.ajax({
                            type: 'POST',
                            url: '/Invoice/IsApproved/',
                            data: { InvoiceId: CurrentInvoiceId, AssignedtoUserId: $("#ddlAssignedTo option:selected").val(), followupForPayment: $("#ddlFollowupForPayment option:selected").val(), RequestTypeIs: RequestType },
                            //data: { InvoiceId: CurrentInvoiceId, AssignedtoUserId: $("#ddlAssignedTo option:selected").val(), followupForPayment: $("#ddlFollowupForPayment option:selected").val() },
                            success: function (result) {
                                $("#myModal").modal('hide');
                                LoadViewInvoice();

                            }
                        });
                    });

                    $('[data-toggle="tooltip"]').tooltip();

                    $(".wf-request-view").on('click', function () {
                        var requestType = $(this).parent().parent().find('td:eq(2)').html().trim();
                        $("#RequestViewModel").modal('show');
                    });

                });
                function LoadViewInvoice() {

                    // ui.showProgressBar();
                    $.ajax({
                        url: '/Invoice/ViewInvoices/',
                        type: 'GET',
                        contentType: 'html',
                        success: function (data) {
                            // ui.hideProgressBar();
                            $("#dragContainer").addClass("hide");
                            HidePalleteMenuItem();
                            jsPlumb.repaintEverything();
                            $('#dvContainer').html('');
                            $('#dvContainer').html(data);
                            jsPlumb.empty("DroppableArea");
                        },
                        error: function (ex) {
                            jAlert('Error', 'error');
                            //ui.hideProgressBar();
                        }
                    });
                }

                function HidePalleteMenuItem() {
                    //$("#imagePalleteSideMenuItem").addClass("hide");
                    $("#imagePalleteSideMenuItem").hide(400);
                };

            </script>
