﻿@model IEnumerable<Cygrp.Workflow.Core.Model.Users>
@{
    ViewBag.Title = "NewCourtAppointment";
    Layout = null;
}
<link href="~/css/ bootstrap-datetimepicker.css" rel="stylesheet">
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:-6px;">
                <h1 class="page-header">
                    Create New Court Appointment
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/../../"> Dashboard</a>
                    </li>
                    <li class="active">
                        <span class="glyphicon glyphicon-plus-sign"></span> New Court Appointment
                    </li>
                </ol>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top:-7px;">

            <div class="panel-body">

                <div class="row">
                    <div class="row" style="margin-left:60px;">
                        <form role="form" action="/CourtAppointment/Index" method="post" id="CourtAppointmentform">
                            <div class="form-group" style="width:50%">
                                <label for="inputName" class="control-label">Set Court Appointment Date</label>
                                <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" id="datetimepicker1" name="CourtAppointmentDate" />
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                            </div>

                            <div class="form-group" style="width:50%">
                                <label>Assign Users</label>
                                <select name="AssignedTo" class="form-control">
                                    <option>--Select One--</option>
                                    @{
                                        foreach (var user in Model)
                                        {
                                            <option value="@user.UserId">@user.FullName</option>
                                        }
                                    }
                                </select>
                            </div>
                          
                            <div class="row" style="margin-left:390px;">

                                <button type="submit" class="btn btn-primary">Create</button>&nbsp;&nbsp;
                                <button type="reset" class="btn btn-primary">Reset</button>
                            </div>


                        </form>
                    </div>


                </div>

            </div>
        </div>
        

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker();
      
    });

</script>